- content_for :title do
  Vue-3 - Other

#app
  #menubar.grid-x
    .cell
      %ul.menu
        %li
          %a(href="/")
            Home
        %li
          %a(href="/carte")
            Map
        %li
          %a(href="/legend")
            Legend
        %li
          %a(href="/other/index")
            Other

  %p
    Lorem ipsum dolor sit amet!!, Consectetur adipisicing elit.
