<template lang='haml'>
#app
  #menubar.grid-x
    .cell
      %ul.menu
        %li
          %router-link(to="/")Racine
        %li
          %router-link(to="/carte")Carte
        %li
          %router-link(to="/legend")Légende
        %li
          %a(href="/other/index")
            Other

    .cell
      %router-view

</template>

<script lang="coffee">
 
  export default 
    data:  () =>
      {
        message: "Bonjour Vue!1"
        message2: "Ici la terre"
      }
    
    beforeCreate: ->
      console.log 'APP  before create (app.vue)!'
    created: ->
      console.log 'APP  created OK (app.vue)'

    beforeMount: ->
      console.log 'APP  before mount (app.vue)'

    mounted: ->
      console.log 'APP  mounted (app.vue)'

    beforeUpdate: ->
      console.log 'APP  before update (app.vue)'
    updated: ->
      console.log 'APP  updated (app.vue)'

    beforeDestroy: ->
      console.log 'APP  before destroy (app.vue)'

    destroyed: ->
      console.log 'APP  destroyed (app.vue)'
    
</script>

<style scoped lang="sass">
  @import '../foundation/application'
  $color: green
  #app 
    background-color: $light-gray
    min-height: 80vh
    margin: 21px 2rem
    //padding: 4rem

  p 
    text-align: center
    color: $color

    &.test 
      color: $primary-color
  

</style>
