<template lang='haml'>
  #carte_racine
    .grid-container.fluid
      .grid-x
        .cell.small-12.medium-auto
          #carte_container(ref="mapElement")
        .cell.small-12.medium-shrink
          .grid-y.grid-frame
            .cell#providers-list
              .grid-y
                %radio_provider(provider="OpenStreetMap.France"  v-on:click="childclick")
                %radio_provider(provider="Stamen.Watercolor"     v-on:click="childclick")
                %radio_provider(provider="OpenStreetMap.Mapnik"  v-on:click="childclick")
                %radio_provider(provider="Esri.NatGeoWorldMap"   v-on:click="childclick")
                %radio_provider(provider="OpenStreetMap.HOT"     v-on:click="childclick")
                %radio_provider(provider="OpenTopoMap"           v-on:click="childclick")
                %radio_provider(provider="Esri.WorldStreetMap"   v-on:click="childclick")
                %radio_provider(provider="Esri.DeLorme"          v-on:click="childclick")
                %radio_provider(provider="Esri.WorldImagery"     v-on:click="childclick")
                %radio_provider(provider="HikeBike.HikeBike"     v-on:click="childclick")
                %radio_provider(provider="Esri.WorldTopoMap"     v-on:click="childclick")
                %radio_provider(provider="CyclOSM"               v-on:click="childclick")
            .cell.footer
              %mgrs_box(v-bind:mgrsstr="mgrsstr")
</template>

<script lang='coffee'>
  import L from 'leaflet'
  import 'leaflet-providers'
  import Vue from 'vue/dist/vue.esm'
  import slug from 'slug'
  import radio_provider from './provider_radio.vue'
  #import gLatLon from 'geodesy/latlon-ellipsoidal-vincenty.js'
  import utm from 'geodesy/utm.js'
  import mgrs, {LatLon} from 'geodesy/mgrs.js'
  import mgrs_box from './mgrs_box.vue'

  export default 
    data:  () =>
      {
        map: false
        providerName: if (sessionStorage.provider != undefined) then sessionStorage.provider else 'OpenStreetMap.France'
        mgrsstr: 'allo'
      }

    components:
      {
        radio_provider
        mgrs_box
      }

    methods:
      childclick: (payload) ->
        console.log("ChildrenClick called #{payload}.")
        @myclick(payload)

      myclick: (provider) ->
        this.$emit('beforeUpdate')
        center = this.map.getCenter()
        zoom = this.map.getZoom()
        this.map.remove()
        this.map = null
        @providerName = provider
        this.map = L.map('carte_container').setView(center, zoom)
        L.tileLayer.provider(@providerName).addTo(this.map)
        this.$emit('updated')
        sessionStorage.provider = @providerName
        $newRadio = $("\##{slug(@providerName)}")
        @registerMapEvents()

      updateCenter: ->
        p0 = this.map.getCenter()
        p1 = new LatLon(p0.lat, p0.lng)
        mgrs_center = p1.toUtm().toMgrs()
        #console.log "Map center: #{sessionStorage.center} #{mgrs_center}"
        @mgrsstr = mgrs_center

      registerMapEvents: ->
        this.map.on 'moveend', (evt) =>
          sessionStorage.center = JSON.stringify(this.map.getCenter())
          @updateCenter()

        this.map.on 'zoomend', (evt) =>
          sessionStorage.zoom = JSON.stringify(this.map.getZoom())
          @updateCenter()

    beforeRouteLeave: (to, from, next) =>
      console.log('Bye carte (carte.vue)')
      next()
    ###
    beforeRouteEnter: (to, from, next) =>
      console.log("CARTE beforeRouteEnter")
      next()

    beforeRouteUpdate: (to, from, next) =>
      console.log("CARTE beforeRouteUpdate")
      next()
    ###
    created: ->
      console.log('CARTE created (carte.vue)')

    mounted: ->
      console.log 'CARTE mounted'
      center = if (sessionStorage.center != undefined) then JSON.parse(sessionStorage.center) else [45.55, -73.55]
      zoom = if (sessionStorage.zoom != undefined) then  JSON.parse(sessionStorage.zoom) else 13
      #console.log('-- mounted: calling L.map')
      this.map = L.map('carte_container').setView(center, zoom)
      #console.log('-- mounted: calling L.titleLayer')
      L.tileLayer.provider(@providerName).addTo(this.map)
      @registerMapEvents()
      @updateCenter()

    beforeDestroy: ->
      console.log 'CARTE  before destroy'
      sessionStorage.center = JSON.stringify(this.map.getCenter())
      sessionStorage.zoom = JSON.stringify(this.map.getZoom())
      sessionStorage.provider = @providerName

    watch: 
      providerName: (val, old) ->
        console.log "ProviderName #{old} -> #{val}"

</script>

<style scoped lang='sass'>
  @import "~leaflet/dist/leaflet.css"
  @import '../foundation/application'

  #carte_container
    width: 100%
    height: 75vh
    border: thin solid black
    background-color: white
    margin: 0

  #providers-list
    min-height: calc(11 * 36px)
    margin-left: 5px !important

  .footer
    position: absolute
    bottom: 0

  button.cell
    @extend .button
    margin: 15px

 

</style>
