<template  lang='haml'>
  .home
    %h1 Bonjour!!
    %p
      This is the home page. It is used as a landing page when
      you connect with the site (default page, root). It can also
      be accessed by clickinq 'home' in the top menu.

    %p
      Home is also part of the 3 pages handled by the Vue Router. The
      two others are Carte and Legend. When you are into one of these pages
      and you click to go to one of the two others, the page is not reloaded.
      Navigation at this level is done on the local computer, not the server.

    %p
      A contrario, the page 'Other' is outside the Vue Router scope. When
      you click on this menu, a request is sent to the server and the appropriate
      content is fetched from the remote machine. Ah! Ah!!

    %p
      Bonne exploration.!

</template>

 <script lang="coffee">
  export default
    beforeCreate: ->
      console.log 'HOME  before create (app.vue)!!'

    created: ->
      console.log 'HOME  created OK (app.vue)'

    beforeMount: ->
      console.log 'HOME  before mount (app.vue)'

    mounted: ->
      console.log 'HOME  mounted (app.vue)'

    beforeUpdate: ->
      console.log 'HOME  before update (app.vue)'

    updated: ->
      console.log 'HOME  updated (app.vue)'

    beforeDestroy: ->
      console.log 'HOME  before destroy (app.vue)'

    destroyed: ->
      console.log 'HOME  destroyed (app.vue)'
</script>

<style lang="sass">
  @import '../foundation/application'
  div.home
    margin-left: 15px
</style>