<template lang='haml'>
  .legend
    %H1 Legend
    %p Hello
</template>

<script lang='coffee'>
  
  export default 
    beforeRouteLeave: (to, from, next) =>
      console.log('LEGEND Bye (legend.vue).')
      next()
    ###
    beforeRouteEnter: (to, from, next) =>
      console.log("LEGEND beforeRouteEnter")
      next()

    beforeRouteUpdate: (to, from, next) =>
      console.log("LEGEND beforeRouteUpdate")
      next()

    beforeCreate: ->
      console.log 'LEGEND  before create -'
    
    created: ->
      console.log 'LEGEND  created OK'

    beforeMount: ->
      console.log 'LEGEND  before mount'
    ###
    
    mounted: ->
      console.log 'LEGEND  mounted'
    ###

    beforeUpdate: ->
      console.log 'LEGEND  before update'

    updated: ->
      console.log 'LEGEND  updated'

    ###
    beforeDestroy: ->
      console.log 'LEGEND  before destroy'

    ###
    destroyed: ->
      console.log 'LEGEND  destroyed'

    watch: 
      '$route': 'fetchData'

    methods:
      fetchData: -> 
        console.log('LEGEND fetch data')
    ###

</script>

<style scoped lang="scss">
  h1 {
    color: red;
    margin: 15px
  }
</style>