<template  lang='haml'>
  .mgrs_box
    #MGRS
      %i.fal.fa-globe-americas
      &thinsp; MGRS
    %H4 {{mgrs.zone}} {{mgrs.km100sq}}
    %p {{mgrs.easting}} {{mgrs.northing}}

</template>

<script lang="coffee">
  export default

    props: ['mgrsstr']

    computed:
      {
        mgrs: () ->
          mgrs = {
            zone: '-'
            km100sq: '-'
            easting: '-'
            northing: '-'
          }
          reg = /^(\d{1,2}[A-Z]) ([A-Z]{2}) (\d+) (\d+)$/
          match = reg.exec(@mgrsstr)
          if match != null
            #console.log 'match is not null'
            mgrs = {
              zone: match[1]
              km100sq: match[2]
              easting: match[3]
              northing: match[4]
            }
          else
            #console.log 'match is null'

          mgrs
      }

    mounted: ->
      console.log("MGRS_BOX mounted: #{@mgrsstr}")

</script>

<style lang="sass">
  @import '../foundation/application'
  $myblue: #5BA0B3
  .mgrs_box
    border: $myblue solid thin
    min-height: 150px
    width: 95% !important
    margin: 10px !important
    padding: 0px !important
    background-color: white

    #MGRS
      @extend h3
      color: $myblue
      text-align: center
      border-bottom: $myblue solid thin
      font-family: Helvetica
      padding-top: 10px
    H4, p
      color: $myblue
      text-align: center
</style>