<template lang='haml'>
  .cell
    <input type='radio' name='provider' v-on:click = "childclick()" :checked="isselected?'checked':null">
    %label {{provider}}
</template>

<script lang='coffee'>
  import L from 'leaflet'
  import 'leaflet-providers'
  import Vue from 'vue/dist/vue.esm'
  import slug from 'slug'

  export default
    props:
      ['provider']

    computed:
      {
        sprovider: () ->
          slug(@provider)

        isselected: () ->
          #console.log("RADIO isSelected provider: #{@provider}")
          (!sessionStorage.provider? && @provider == "OpenStreetMap.France") || (sessionStorage.provider == @provider)
      }

    methods:
      {
        childclick: () ->
          console.log('RADIO: click ' + @provider)
          this.$emit('click', this.provider)
      }

    mounted: ->
      #console.log("RADIO mounted!!")


</script>