@charset 'utf-8'
@import "fontawesome"
@import "foundation_and_overrides"

body
  overflow: hidden

  #app
    background-color: $light-gray
    min-height: 80vh
    margin: 20px 2rem
    //padding: 4rem

.credit
  margin: 5px 2rem
  overflow: auto
.user 
  margin: 6px
  font-family: $body-font-family 
  &:before
    @extend %fa-icon
    @extend .fas
    content: fa-content($fa-var-user)
    margin-right: 8px

.twitter 
  margin: 5px
  &:before
    @extend %fa-icon
    @extend .fab
 
    content: fa-content($fa-var-twitter)
    background-color: #1da1f3
    color: white
    padding: 5px
    margin-right: 8px

.colonne_gauche 
  @extend .cell
  @extend .small-12
  @extend .medium-9
  @extend .large-10

.colonne_droite 
  @extend .cell
  @extend .small-12
  @extend .medium-3
  @extend .large-2
  margin: 20px 0

#thanks-zurb, #thanks-hampton
  font-size: 70%
  padding-left: 5px

.source_code
  font-size: 72%