!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Untitled"

    = javascript_pack_tag 'app_vue'
    -#= stylesheet_pack_tag 'application'
    = stylesheet_link_tag "application"
    -#= javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tag
    = csp_meta_tag

  %body
    .grid-x
      .colonne_gauche
        = yield
      .colonne_droite
        %h4
          Source code:
        %p.source_code
          =link_to "https://gitlab.com/ycrepeau/test-vue3", "https://gitlab.com/ycrepeau/test-vue3"

        %p
          .grid-x
            .cell.small-4
              = image_tag "zurb.jpg"
            .cell.small-8#thanks-zurb
              Big thanks to the Zurb Foundation 
              for their fantastic css framework.
        %p
          .grid-x
            .cell.small-4
              = image_tag "sass.png"
              = image_tag "haml.png"
            .cell.small-8.small8#thanks-hampton
              Big thanks to Hampton Catlin, Natalie Weizenbaum and others
              for sass and haml
        %p

    .grid-x.credit
      .cell.small-6.medium-3.large-2
        .user Yanik Crépeau
      .cell.small-6.medium-3.large-2
        .twitter @ycrepeau
      .cell.small-12.medium-6.large-8
        %p=embeded_info
        %p Alpha version 0.0.1a (#{$deploy_version})
        %p= debug(params) if Rails.env.development?
